<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">添加支持的平台信息</div>
                <div class="layui-card-body" pad15>
                    <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">平台唯一标识符 (e.g., wechat_mp, csdn, juejin, github)</label>
                                        <div class="layui-input-block">
                                            <input id="input-platformKey" type="text" name="platformKey" placeholder="请输入平台唯一标识符 (e.g., wechat_mp, csdn, juejin, github)" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">平台名称 (e.g., 微信公众号, CSDN, 稀土掘金, GitHub)</label>
                                        <div class="layui-input-block">
                                            <input id="input-name" type="text" name="name" placeholder="请输入平台名称 (e.g., 微信公众号, CSDN, 稀土掘金, GitHub)" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">平台类型: publish-仅发布, import-仅导入, both-发布和导入</label>
                                        <div class="layui-input-block">
                                            <input id="input-type" type="text" name="type" placeholder="请输入平台类型: publish-仅发布, import-仅导入, both-发布和导入" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">平台图标URL (可选)</label>
                                        <div class="layui-input-block">
                                            <input id="input-iconUrl" type="text" name="iconUrl" placeholder="请输入平台图标URL (可选)" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">平台描述 (可选)</label>
                                        <div class="layui-input-block">
                                            <textarea id="input-description" name="description" class="layui-textarea" placeholder="请输入平台描述 (可选)"></textarea>
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">创建时间</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input id="input-createdAt" type="text" name="createdAt" autocomplete="off" placeholder="请选择创建时间" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">提示：---</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">更新时间</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input id="input-updatedAt" type="text" name="updatedAt" autocomplete="off" placeholder="请选择更新时间" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">提示：---</div>
                            </div>
                        <div class="layui-form-item layui-hide">
                            <div class="layui-input-block">
                                <button id="addBtn" class="layui-btn layui-btn-normal" lay-submit
                                        lay-filter="addBtn">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['jquery', 'form', 'layer', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,laydate = layui.laydate,
            table = layui.table;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        laydate.render({
            elem: '#input-createdAt'
        });
        laydate.render({
            elem: '#input-updatedAt'
        });

        // 保存
        form.on('submit(addBtn)', function (data) {
            var dataContent = {
                platformKey: $("#input-platformKey").val(),
                name: $("#input-name").val(),
                type: $("#input-type").val(),
                iconUrl: $("#input-iconUrl").val(),
                description: $("#input-description").val(),
                createdAt: $("#input-createdAt").val(),
                updatedAt: $("#input-updatedAt").val(),
            }
            add(dataContent)
            return false;
        });

        function add(dataContent) {
            console.info("add", dataContent)
            $.ajax({
                url: '../article/platforms/add',
                async: false,
                type: "post",
                dataType: "json",
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                data: JSON.stringify(dataContent),
                success: function (res) {
                    console.log("提交信息", res)
                    if (res.code === 1) {
                        layer.msg("保存成功", {time: 2000}, function () {
                            const index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg('提交失败！【' + res.message + '】');
                    }
                },
                error: function (e) {
                    layer.msg('提交失败！【' + e + '】');
                }
            });
        }
    });
</script>