<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">添加用户信息</div>
                <div class="layui-card-body" pad15>
                    <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                        <div class="layui-input-block">
                                            <input id="input-username" type="text" name="username" placeholder="请输入用户名" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">加密后的密码</label>
                                        <div class="layui-input-block">
                                            <input id="input-passwordHash" type="text" name="passwordHash" placeholder="请输入加密后的密码" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">邮箱</label>
                                        <div class="layui-input-block">
                                            <input id="input-email" type="text" name="email" placeholder="请输入邮箱" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">昵称</label>
                                        <div class="layui-input-block">
                                            <input id="input-nickname" type="text" name="nickname" placeholder="请输入昵称" value="" class="layui-input">
                                        </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">创建时间</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input id="input-createdAt" type="text" name="createdAt" autocomplete="off" placeholder="请选择创建时间" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">提示：---</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">更新时间</label>
                                    <div class="layui-input-inline" style="width: 150px;">
                                        <input id="input-updatedAt" type="text" name="updatedAt" autocomplete="off" placeholder="请选择更新时间" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">提示：---</div>
                            </div>
                        <div class="layui-form-item layui-hide">
                            <div class="layui-input-block">
                                <button id="addBtn" class="layui-btn layui-btn-normal" lay-submit
                                        lay-filter="addBtn">
                                    保存
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery', 'form', 'layer', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer,laydate = layui.laydate,
            table = layui.table;

        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        laydate.render({
            elem: '#input-createdAt'
        });
        laydate.render({
            elem: '#input-updatedAt'
        });

        // 保存
        form.on('submit(addBtn)', function (data) {
            var dataContent = {
                username: $("#input-username").val(),
                passwordHash: $("#input-passwordHash").val(),
                email: $("#input-email").val(),
                nickname: $("#input-nickname").val(),
                createdAt: $("#input-createdAt").val(),
                updatedAt: $("#input-updatedAt").val(),
            }
            add(dataContent)
            return false;
        });

        function add(dataContent) {
            console.info("add", dataContent)
            $.ajax({
                url: '../article/users/add',
                async: false,
                type: "post",
                dataType: "json",
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                data: JSON.stringify(dataContent),
                success: function (res) {
                    console.log("提交信息", res)
                    if (res.code === 1) {
                        layer.msg("保存成功", {time: 2000}, function () {
                            const index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index);
                        });
                    } else {
                        layer.msg('提交失败！【' + res.message + '】');
                    }
                },
                error: function (e) {
                    layer.msg('提交失败！【' + e + '】');
                }
            });
        }
    });
</script>
