<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加文章信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="../../layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../../cherry-markdown/dist/cherry-markdown.css">
</head>
<body>
<div class="layui-fluid">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-row">
            <div class="layui-col-xs9">
                <input id="input-title" type="text" name="title" placeholder="请输入文章标题" value="" class="layui-input">
            </div>
            <div class="layui-col-xs3">
                <div class="grid-demo">
                    <button id="addButton" type="button" class="layui-btn layui-btn-normal">
                        保存
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div id="dom_mask" style="position: absolute; top: 40px; height: 20px; width: 100%;"></div>
                <div id="markdown-container"></div>
            </div>
        </div>
    </form>
</div>

<script src="../../cherry-markdown/dist/cherry-markdown.js"></script>
<script src="../../cherry-markdown/pinyin/pinyin_dist.js"></script>
<script src="../../cherry-markdown/index.js"></script>
<script src="../../layui/layui.js"></script>
<script>
    layui.use(['jquery', 'form', 'layer', 'table', 'laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            layer = layui.layer, laydate = layui.laydate,
            table = layui.table;

        // fetch('./assets/markdown/basic.md').then((response) => response.text()).then((value) => {
        //     var config = Object.assign({}, basicConfig, { value: value });
        //     window.cherry = new Cherry(config);
        // });
        // 延时执行
        setTimeout(function () {
            var config = Object.assign({}, basicConfig, {value: '# welcome to cherry editor!'});
            window.cherry = new Cherry(config);
        }, 1000);
        /**
         * 初始化表单，要加上，不然刷新部分组件可能会不加载
         */
        form.render();

        laydate.render({
            elem: '#input-createdAt'
        });
        laydate.render({
            elem: '#input-updatedAt'
        });
        laydate.render({
            elem: '#input-publishedAt'
        });

        $("#addButton").click(function () {
            layer.open({
                type: 1,
                offset: 'r',
                anim: 'slideLeft', // 从右往左
                area: ['400px', '100%'],
                shade: 0.1,
                shadeClose: true,
                id: 'ID-demo-layer-direction-r',
                content: `
<div class="layui-form" lay-filter="filter-test-layer" style="margin: 16px;">
    <div class="demo-login-container">
        <div class="layui-form-item">
            <label class="layui-form-label">封面图片</label>
            <div class="layui-input-block">
                <input id="input-coverImageUrl" type="text" name="coverImageUrl" placeholder="请输入封面图片URL" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">文章标签</label>
            <div class="layui-input-block">
                <input id="input-tags" type="text" name="tags" placeholder="请输入文章标签 (逗号分隔或其他格式)" value="" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否原创</label>
        </div>
        <div class="layui-form-item">
            <button id="save-btn" class="layui-btn layui-btn-normal" lay-submit lay-filter="save-btn-filter">确认并保存</button>
        </div>
    </div>
</div>
                `, success: function(layero, index){
                    // 在 layer.open 成功打开后绑定 #save-btn 的点击事件
                    $("#save-btn").on('click', function () {
                        var dataContent = {
                            title: $("#input-title").val(),
                            contentMd: window.cherry.getMarkdown(),
                            coverImageUrl: $("#input-coverImageUrl").val(),
                            tags: $("#input-tags").val(),
                            isOriginal: $("#input-isOriginal").val(),
                        }
                        console.info("save-btn", dataContent)
                        add(dataContent)
                    });
                }
            });
        });

        function add(dataContent) {
            console.info("add", dataContent)
            $.ajax({
                url: '../../../../article/articles/add',
                async: false,
                type: "post",
                dataType: "json",
                headers: {'Content-Type': 'application/json;charset=utf-8'},
                data: JSON.stringify(dataContent),
                success: function (res) {
                    console.log("提交信息", res)
                    if (res.code === 1) {
                        layer.msg("保存成功", {time: 2000}, function () {
                            // 关闭当前网页并且刷新父页面
                            window.parent.location.reload();
                            window.close();
                        });
                    } else {
                        layer.msg('提交失败！【' + res.message + '】');
                    }
                },
                error: function (e) {
                    layer.msg('提交失败！【' + e + '】');
                }
            });
        }
    });
</script>
</body>
</html>